@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&display=swap');

:root {
  --bg-color--alt: rgb(20, 20, 17);
  --bg-color--tri: rgb(26, 27, 29);
  --text-color--primary: #fff;
  --text-color--alt: #d62828;
  --text-color--tri: #777;
  --border-color--primary: #fff;
  --border-color--alt: #d62828;
  --button-bg-color--primary: #d62828;
  --button-bg-color--alt: #191919;
  --font-family--primary: 'Montserrat';
  --font-family--alt: 'Barlow';
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

li {
  list-style-type: none;
}
body,
html {
  width: 100%;
  color: var(--text-color--primary);
  font-family: 'Montserrat', 'Catamaran', Avenir, Helvetica, Arial, sans-serif;
}
img {
  width: 100%;
}
button {
  cursor: pointer;
  background: none;
  border: solid thin var(--border-color--primary);
  color: #fff;
  background: var(--button-background-color);
  font-size: 1rem;
  padding: 0.8em 1.4em;
  transition: all 0.2s ease-in-out;
}
button:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 800px) {
  button {
    font-size: 0.8rem;
  }
}
